* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: row;
    background-image: url('../images/bersekHeader.jpg');
    background-size: cover;
    background-position: left;
    width: auto;
    height: 200px;
    color: crimson;
    background-color: rgb(0, 0, 0);
    text-align: left;
    margin-bottom: 20px;
    padding: 15px;
}

nav {
    flex:1;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-end;
    align-items:inherit;
    padding-top: 70px;
    padding-right: 150px;
}

nav a {
    text-decoration:none;
    text-align: center;
    color:white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: crimson;
    transform: scale(1.05);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 100px;
}

main h2{
    font-size: clamp(1.5rem, 6vw, 3rem);
}

/* PRINCIPAIS PERSONAGENS */

.backgroudMainCharacters {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.3);
}

.mainCharacters {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
    color: white;
}

.cardMainCharacters {
    flex: 1 1 300px;
    background: #1e1e1e;
    border: 3px solid #666363;
    border-radius: 10px;
    max-width: 400px;
    transition: transform 0.3s;
}

.cardMainCharacters:hover {
    transform: scale(1.05);
}

.cardMainCharacters img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

.cardMainCharacters h3 {
    font-size: 20px;
    text-align: center;
}

.cardMainCharacters p {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

/* BANDO DO FALCÃO */

.backgroudFalconFlock {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.3);
}

.falconFlock {
    flex: 1;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    color: white;
}

.cardFalconFlockCharacters {
    flex: 1 1 200px;
    background: #1e1e1e;
    border: 3px solid #747272;
    border-radius: 10px;
    max-width: 250px;
    transition: transform 0.3s;
}

.cardFalconFlockCharacters:hover {
    transform: scale(1.05);
}

.cardFalconFlockCharacters img {
    width: 100%;
    height:auto;
    border-radius: 15px;
    padding: 10px;
}

.cardFalconFlockCharacters h3 {
    font-size: 20px;
    text-align: center;
}

.backgroudFalconFlock p {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

/* A MÃO DE DEUS */

.backgroudHandGod {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.3);
}

.handGod {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    color: white;
}

.cardHandGodCharacters {
    flex: 1 1 200px;
    background: #1e1e1e;
    border: 3px solid #747272;
    border-radius: 10px;
    max-width: 250px;
    transition: transform 0.3s;
}

.cardHandGodCharacters:hover {
    transform: scale(1.05);
}

.cardHandGodCharacters img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

.cardHandGodCharacters h3 {
    font-size: 20px;
    text-align: center;
}

.cardHandGodCharacters p {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

/* O NOVO BANDO DE GUTS */

.backgroundNewFlockGuts {
    background: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.3);
}

.newFlockGuts{
    flex: 1;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    color: white;
}

.cardNewFlockGutsCharacters {
    flex: 1 1 200px;
    background: #1e1e1e;
    border: 3px solid #747272;
    border-radius: 10px;
    max-width: 250px;
    transition: transform 0.3s;
}

.cardNewFlockGutsCharacters:hover {
    transform: scale(1.05);
}

.cardNewFlockGutsCharacters img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 10px;
}

.cardNewFlockGutsCharacters h3 {
    font-size: 20px;
    text-align: center;
}

.cardNewFlockGutsCharacters p {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

/* RODAPÉ */

footer {
    font-size: 14px;
    color: #aaa;
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    background-color: #4d4b4b;
}

/* MEDIA */

@media (max-width: 750px) {

    footer {
        font-size: 12px;
    }

    header {
        background-size: 950px;
        background-position:inherit;
        background-repeat: no-repeat;
        height: 300px;
    }

    nav {
        align-items: center;
        justify-content: center;
        padding-top: 90px;
        padding-left: 150px
    }

    .cardFalconFlockCharacters, .cardHandGodCharacters, .cardNewFlockGutsCharacters {
        flex: 1 1 100%;
        max-width: 400px;
    }
}

@media (max-width: 1365px) and (min-width: 751px) {

    header {
        background-size: 1500px;
        background-repeat: no-repeat;
        background-position: left;
    }

    nav {
        padding-top: 70px;
        padding-right: 10px;
        gap: 15px;
    }
}




